
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: Roboto, sans-serif;
    background-color: lightgray;
    margin: 0px;
}

header,
footer {
    max-width: 100%;
    margin: 0px;
    border: 1px solid #ccc;
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 10px;
}

.photoContent{
    display: grid;
    justify-items: center;

}

h1 {
    text-align: center;
}

img{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 100%;
}

section {
    padding: 10px;
    background-color: white;
    margin: 1rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 15px;

}

nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color: rgba(0,0,0,.1);
    
}

nav a{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.hide {
    display: none;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: medium;
    padding-bottom: 10px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}

footer {
    text-align: center;
}


/* media query */
@media screen and (min-width: 700px) {
    .menu-btn{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
    }

    nav a{
        display: flex;
    }

    .photoContent{
        grid-template-columns: 1fr 1fr;
    }

    .hide{
        display: flex;
    }

}

@media screen and (min-width: 1000px) {
    .photoContent{
        grid-template-columns: 1fr 1fr 1fr;
    }
}