
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: Roboto, sans-serif;
}

header,
footer {
    max-width: 1500px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: lightblue;
}

main{
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

h1 {
    text-align: center;
}

section {
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc;
    max-width: 250px;
}

nav {
    display: none;
    flex-direction: column;
    padding: 20px;
    color: black;
}

nav a{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
}

.active {
    display: flex;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

.menu-btn {
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: transform .3s ease-in-out;
}

footer {
    text-align: center;
}


.active .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}
.active .bar2 {
    opacity: 0;
}
.active .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
          


/* media query */
@media screen and (min-width: 700px) {
    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    nav a{
        display: flex;
        color: black;
    }
    
    main{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .active{
        display: flex;
    }
    
    .menu-btn{
        display: none;
    }
}
