.document{
    aspect-ratio: 1010/1003;
    border: solid 2px;
    margin: 10px;
    align-items: center;
}

.title_section{
    padding: 2% 15%;
    width: 70%;
    border-color: gray;
    justify-self: center;
}

.title_section h1{
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    justify-self: center;
}

.title_section p{
    color: rgb(103, 103, 208);
    text-transform: uppercase;
    justify-self: center;
}


.content{
    padding: 2% 15%;
    line-height: 1.7rem;
}

.content h5{
    font-weight: 500;
    font-style: italic;
}

.content li{
    padding-top: 2%;
}

img{
    width: 15%;
    display: flex;
    justify-self: center;
    padding-top: 2%;
}
