.document{
    aspect-ratio: 1010/1003;
    border: solid 2px;
    margin: 10px;
    justify-items: center;
    align-items: center;
}

.title_section{
    padding: 2% 15%;
    border-color: gray;
}

.title_section h1{
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    justify-self: center;
}

.title_section p{
    color: rgb(103, 103, 208);
    text-transform: uppercase;
    justify-self: center;
}


.content{
    justify-content: center;
    padding: 5% 15%;
    line-height: 1.7rem;
}
