body{
    border: solid;
    border-width: 2px;
    height: 98vh;
}

.content{
    text-align: center;
    width: 60%;
    justify-self: center;
    padding: 2px;
    

}

h1 + p{
    color: blue;
    font-size: large;
}

hr{
    background-color: blue;
    border-color: blue;
    width: 450px;
    
}

#topics{
    justify-self: center;
    max-width: 310px;
}

.list{
    list-style: none;
    width: 100%;
}

ul{
    padding: 0;
}

.list li{
    text-align: left;
}

img {
    width: 310px;
    height: auto;
}